version: '3.8'

services:
  wazuh-manager:
    image: wazuh/wazuh-manager:{{ fabos_wazuh_manager_version | default('latest') }}
    container_name: wazuh-manager
    restart: always
    ports:
      - "{{ fabos_wazuh_manager_port | default('514') }}:514/udp"
      - "{{ fabos_wazuh_manager_api_port | default('55000') }}:55000"
    environment:
      WAZUH_API_URL: http://localhost:55000
      WAZUH_API_USER: wazuh
      WAZUH_API_PASSWORD: wazuh
    volumes:
      - wazuh-data:/var/ossec/data
      - wazuh-logs:/var/ossec/logs

  wazuh-api:
    image: wazuh/wazuh-api:{{ fabos_wazuh_api_version | default('latest') }}
    container_name: wazuh-api
    restart: always
    ports:
      - "{{ fabos_wazuh_api_listen_port | default('443') }}:443"
    environment:
      WAZUH_API_URL: http://wazuh-manager:55000
      WAZUH_API_USER: wazuh
      WAZUH_API_PASSWORD: wazuh
      WAZUH_API_LISTEN: "0.0.0.0"
      WAZUH_API_PORT: "443"
      WAZUH_API_PROTOCOL: https
    volumes:
      - wazuh-ssl:/etc/ssl/wazuh
    depends_on:
      - wazuh-manager

volumes:
  wazuh-data:
  wazuh-logs:
  wazuh-ssl: